<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Primer Parcial</h5>
        <p style="text-align: justify">Desarollo de aplicacion de primer parcial para materia de Desarrollo Web</p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Alumno</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Dorian Oliveros</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Carne</h5>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">0909-17-8081</a>
        </p>
      </div>
    </div>
    <div class="col-md-7 col-lg-8">
      <p>Copyright ®2021 todos los derechos reservados por:
        <a href="#" style="text-decoration: none;">
          <strong class="text-warning">Dorial Oliveros</strong>
        </a>
      </p>
    </div>
  </div>
</footer>
