<div class="ion-float-end overflow-auto" id="divCartasLateral">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="ion-float-lg-left">
        <img src="assets/Images/angular-bg.png" class="img">
      </div>
      <div class="align-text-top">
        Click Informacion Click Informacion
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="ion-float-lg-left">
        <img src="assets/Images/angular-bg.png" class="img">
      </div>
      <div class="align-text-top">
        Click Informacion Click Informacion
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="ion-float-lg-left">
        <img src="assets/Images/angular-bg.png" class="img">
      </div>
      <div class="align-text-top">
        Click Informacion Click Informacion
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="ion-float-lg-left">
        <img src="assets/Images/angular-bg.png" class="img">
      </div>
      <div class="align-text-top">
        Click Informacion Click Informacion
      </div>
    </a>
  </div>
</div>
