#divCartasLateral{
  width: 350px;
  height: 400px;
}

 .img{
   width: 120px;
   height: 75px;
 }

.list-group-item{
  background-color: #E2E2E2;
  text-align: center;
}

.text-body{
  margin-top: 25px;
}
