<nav class="navbar navbar-light bg-light p-2">
  <div class="container-fluid">
    <button type="button" class="btn btn-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <form class="d-flex m-auto">
      <input class="form-control me-2" type="search" size="50px" placeholder="Buscar..." aria-label="Buscar">
      <button type="button" class="btn btn-secondary">
        <ion-icon name="search"></ion-icon>
      </button>
      <button type="button" class="btn btn-light">
        <ion-icon name="mic"></ion-icon>
      </button>
    </form>
    <button type="button" class="btn btn-light">
      <ion-icon name="apps"></ion-icon>
    </button>
    <button type="button" class="btn btn-light">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </button>
    <button type="button" class="btn btn-outline-primary">
      <ion-icon name="person-circle" size="80px"></ion-icon>
      Acceder
    </button>
  </div>
</nav>
